<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Businesses in Buildings</title>
  <meta name="description" content="Businesses in Buildings">
  <meta name="author" content="Mike">

  <h1 style="color: ##0000FF;">Businesses in Buildings: <span style="color: #2b2301;"></h1>

    <script type="text/javascript"
            src="{{ url_for('static', filename='jquery.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='app.js') }}">
    </script>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/bootstrap.css') }}">

</head>
<style>
table {
    font-family: arial, sans-serif;
    font-weight: bold;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<body>
<div class="container">

    <h1></h1>
    <h2></h2>

    <div class="row">
        <p></p>
    </div>

    <div class="row">
      <div class="form-inline">
        
          <<iframe src="https://www.google.com/maps/d/embed?mid=1fPD_F9Icm_Y0FWUAjHKEw6Ebeaw" width="768" height="576"></iframe>


          <h2 style="color: #2e6c80;">Here are some businesses that typically are not picked up by google places.</h2>
            ...until they scrape this website.


        <div class="form-group">

        </div>

      </div>
    </div>

</div>
</body>
</html>
